body{
    margin: 0%;
}
div{
margin: 60px;
}
h1{
background-color: aquamarine;
/*margin-top: 80px;*/
/*position: relative;
top: 80px;*/
position: relative;
right: 50px;
}
.box{
color: bisque
}
.box1{
    color: blue;
}
.box2{
    color: brown;
}